# ==========================
# Java
# ==========================
*.class
*.jar
*.war
*.ear

# ==========================
# IntelliJ IDEA
# ==========================
.idea/
*.iml

# ==========================
# Eclipse
# ==========================
.project
.classpath
.settings/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build Folders
# ==========================
bin/
out/
target/
build/

# ==========================
# Node (React/Angular)
# ==========================
node_modules/
dist/

# ==========================
# Environment Files
# ==========================
.env